.error-indicator {
    width: 100%;
    color: orange;
    text-align: center;
}

.error-indicator img {
    display: block;
    margin: 0 auto 10px;
    width: 150px;
}

.boom {
    display: block;
    font-size: 24px;
}

.error-indicator span {
    display: block;
}